.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  
  .home-body {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 60px);
    overflow: hidden;
  }